<!DOCTYPE html>
<html ng-app="contactManagerApp">
<head>
  <title>ContactManagerWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-resource.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-2.1.4.min.js" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
